@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

#asd p {
    font-family: 'Pinyon Script', sans-serif;
    font-size: 2em;
  margin-left: -80px;
}
   
#asd img {
  width: 8%;
  height: 8%;
 margin:2px 28%;

}

@media screen and (max-width:480px){
#asd img {
  width: 5%;
  height: 5%;
  margin: 0.5px 13%;
}
}