@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  
  
}

header{
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navbar{
  background-color:rgb(61, 61, 61);

  width: 100%;
 
  

}



.navbar-start {
  display: flex;
  justify-content: space-around;
  width: 100%;

  

}

.dropdown {
  display: flex;
  justify-content: space-around;
  color: white;
 

 
}

#asd{
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Pinyon Script', sans-serif;
  font-size: 2em;
}

#navtext{
  color: black;
}




   


@media screen and (max-width:480px){


}
