<<<<<<< HEAD

.text{
    margin-bottom: 10%;
    font-size: 30px;

}

#aaa {
    padding-left: 40px;
    
}
p {
    color: black;

=======

.text{
    margin-bottom: 10%;
    font-size: 30px;

}

#aaa {
    padding-left: 40px;
}
p {
    color: black;

>>>>>>> 8b90bd809311cbd817813d2aca0281a54d12fd98
}