@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');
* {
    margin:0;
    padding:0;
    text-align: center;
    font-family: 'Kiwi Maru', serif;
}

.back{
 
background-image: url(./components/a.png);
width: 100%;
min-height: 100vh;
background-attachment: fixed; 
}


img {
    max-width: 100%;
}

.background {
    width: cover;
    height: cover;
}

#a {
    display:inline-block;
    font-size: 2em;
    width: 300px;
    height: 150px;
    margin: 50px;
    
   
   
    
}
.card1 {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    margin: auto;
}
.delay02 {
    animation-delay: 1.5s;
  }



@media screen and (max-width:480px){
    #a {
        font-size: 1.5em;
        width: 250px;
        height: 100px;
        margin: 10px 30px;
       
    }
    .card1{
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    margin: auto;
    }
    
    
}
