* {
    background-size: cover;
    margin:0;
    padding:0;
}

.img {
    background-size: cover;
    max-width: 100%;
}

.background {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
}



.text{
    position: absolute;
    text-align: center;
    background-color: none;
}