* {
    box-sizing: border-box;;
    margin:0;
    padding:0;
}

img {
    max-width: 100%;
}

.back2 {
    min-height: 100vh;
    display: flex;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    align-items: center;
    justify-content: center;
}

.card {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}

.content {
    color: black;
}