* {
    margin:0;
    padding:0;
}

img {
    max-width: 100%;
}

.background {
    position: absolute;
    width: cover;
    height: cover;
}

.text{
    position: absolute;
    text-align: center;
}